body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../img/formbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    display: flex;
    flex-direction: column;
}


input, select
{
    width: 100%;
    margin-bottom: 1em;
    background-color: white;
    border: 1px solid royalblue;
    border-radius: 1em;
    padding: 1em;
}

